absl-py
appnope
astor
attrs
backcall
bleach
cvxpy
cycler
decorator
defusedxml
dill
ecos
entrypoints
future
gast
google-pasta
grpcio
h5py
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
torch
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
numpy
mistune
multiprocess
nbconvert
nbformat
notebook
osqp
pytest
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
PyYAML
pyzmq
qtconsole
scipy
scs
seaborn
Send2Trash
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
torchdiffeq
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
